<a href="https://colab.research.google.com/github/yuktagupta/Anudip_foundation_python/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l = [10,20,30,40]
print(l)

[10, 20, 30, 40]

#slicing

In [ ]:
l[:1]

[10]

In [ ]:
l[1:5]

[20, 30, 40]

In [ ]:
l[2:]

[30, 40]

In [ ]:
l[-1]

40

In [ ]:
l[2]=100

In [ ]:
l

[10, 20, 100, 40]

In [ ]:
#wap to print all the element in reverse order
l[::1]

[10, 20, 100, 40]

In [ ]:
l.append("Apple")

In [ ]:
l

[10, 20, 100, 40, 'Apple', 'Apple', 'Apple']

In [ ]:
r=[]
for i in range(len(1)-1,-1,-1):
  r.append(l[i])

TypeError: object of type 'int' has no len()

In [ ]:
#wap to print all the element in reverse order
r=[]
for i in range(len(l)-1,-1,-1): # Changed len(1) to len(l)
  r.append(l[i])

In [ ]:
r

['Apple', 'Apple', 'Apple', 40, 100, 20, 10]

In [ ]:
list=[10,20,30,40,50,60,70]
print (list)

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
r = []
for i in range(len(list)-1,-1,-1):
  r.append(list[i])

In [ ]:
r

[70, 60, 50, 40, 30, 20, 10]

In [ ]:
list.insert[1, 80]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [ ]:
# Replace square brackets with parentheses to call the insert method
list.insert(1, 80)

In [ ]:
list

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
list.remove(10)

In [ ]:
list

[20, 30, 40, 50, 60, 70]

In [ ]:
list.count(40)

1

In [ ]:
n1=[10,28,8,18,23]

In [ ]:
n1.sort()

In [ ]:
n1

[8, 10, 18, 23, 28]

In [ ]:
n1.sort(reverse= True)

In [ ]:
n1

[28, 23, 18, 10, 8]

***list comparison ***

In [ ]:
n1

[28, 23, 18, 10, 8]

In [ ]:
sq =[a**2 for a in n1]

In [ ]:
sq

[784, 529, 324, 100, 64]

In [ ]:
for index,value in enumerate(n1):
  print(index,value)

0 28
1 23
2 18
3 10
4 8

In [ ]:
#Hi! Can you create a program using a list which allows us to manage our to-do list interactively, including adding tasks, marking tasks as done, removing tasks, and viewing the current task. The tasks are stored in a list, where each task is represented as a list containing the task name and a boolean value indicating whether it's done or not.
def display_menu():
    print("\n--- To-Do List Menu ---")
    print("1. View Tasks")
    print("2. Add Task")
    print("3. Mark Task as Done")
    print("4. Remove Task")
    print("5. Exit")

def view_tasks(todo_list):
    if not todo_list:
        print("Your to-do list is empty.")
        return
    print("\nCurrent Tasks:")
    for i, task in enumerate(todo_list):
        status = "✔️ Done" if task[1] else "❌ Not Done"
        print(f"{i + 1}. {task[0]} - {status}")

def add_task(todo_list):
    task_name = input("Enter the task name: ")
    todo_list.append([task_name, False])
    print(f"Task '{task_name}' added.")

def mark_task_done(todo_list):
    view_tasks(todo_list)
    try:
        index = int(input("Enter the task number to mark as done: ")) - 1
        if 0 <= index < len(todo_list):
            todo_list[index][1] = True
            print(f"Task '{todo_list[index][0]}' marked as done.")
        else:
            print("Invalid task number.")
    except ValueError:
        print("Please enter a valid number.")

def remove_task(todo_list):
    view_tasks(todo_list)
    try:
        index = int(input("Enter the task number to remove: ")) - 1
        if 0 <= index < len(todo_list):
            removed_task = todo_list.pop(index)
            print(f"Task '{removed_task[0]}' removed.")
        else:
            print("Invalid task number.")
    except ValueError:
        print("Please enter a valid number.")

def main():
    todo_list = []
    while True:
        display_menu()
        choice = input("Choose an option (1-5): ")

        if choice == '1':
            view_tasks(todo_list)
        elif choice == '2':
            add_task(todo_list)
        elif choice == '3':
            mark_task_done(todo_list)
        elif choice == '4':
            remove_task(todo_list)
        elif choice == '5':
            print("Exiting to-do list program. Goodbye!")
            break
        else:
            print("Invalid choice. Please select a number between 1 and 5.")

if __name__ == "__main__":
    main()

--- To-Do List Menu ---
1. View Tasks
2. Add Task
3. Mark Task as Done
4. Remove Task
5. Exit
Choose an option (1-5): 1
Your to-do list is empty.

--- To-Do List Menu ---
1. View Tasks
2. Add Task
3. Mark Task as Done
4. Remove Task
5. Exit
Choose an option (1-5): 5
Exiting to-do list program. Goodbye!

In [ ]:
def display_menu():
    print("\nTo-Do List Manager with Prioritization")
    print("1. Add a task")
    print("2. Mark task as done")
    print("3. Remove a task")
    print("4. View tasks")
    print("5. Exit")

def add_task(todo_list):
    task_name = input("Enter the task name: ")
    priority = input("Enter priority (High/Medium/Low): ").capitalize()
    while priority not in ["High", "Medium", "Low"]:
        print("Invalid priority. Please enter High, Medium, or Low.")
        priority = input("Enter priority (High/Medium/Low): ").capitalize()
    todo_list.append([task_name, False, priority])
    print(f"Task '{task_name}' with priority '{priority}' added.")

def mark_task_done(todo_list):
    view_tasks(todo_list)
    try:
        task_index = int(input("Enter the task number to mark as done: ")) - 1
        if 0 <= task_index < len(todo_list):
            todo_list[task_index][1] = True
            print(f"Task '{todo_list[task_index][0]}' marked as done.")
        else:
            print("Invalid task number.")
    except ValueError:
        print("Please enter a valid number.")

def remove_task(todo_list):
    view_tasks(todo_list)
    try:
        task_index = int(input("Enter the task number to remove: ")) - 1
        if 0 <= task_index < len(todo_list):
            removed = todo_list.pop(task_index)
            print(f"Task '{removed[0]}' removed.")
        else:
            print("Invalid task number.")
    except ValueError:
        print("Please enter a valid number.")

def view_tasks(todo_list):
    if not todo_list:
        print("No tasks in the list.")
    else:
        print("\nCurrent To-Do List:")
        sorted_list = sorted(todo_list, key=lambda x: ["High", "Medium", "Low"].index(x[2]))
        for i, task in enumerate(sorted_list):
            status = "Done" if task[1] else "Not done"
            print(f"{i + 1}. {task[0]} - [{status}] - Priority: {task[2]}")

def main():
    todo_list = []
    while True:
        display_menu()
        choice = input("Enter your choice (1-5): ")
        if choice == '1':
            add_task(todo_list)
        elif choice == '2':
            mark_task_done(todo_list)
        elif choice == '3':
            remove_task(todo_list)
        elif choice == '4':
            view_tasks(todo_list)
        elif choice == '5':
            print("Exiting To-Do List Manager. Goodbye!")
            break
        else:
            print("Invalid choice. Please select from 1 to 5.")

if __name__ == "__main__":
    main()

To-Do List Manager with Prioritization
1. Add a task
2. Mark task as done
3. Remove a task
4. View tasks
5. Exit
Enter your choice (1-5): 1
Enter the task name: going walking
Enter priority (High/Medium/Low): high
Task 'going walking ' with priority 'High' added.

To-Do List Manager with Prioritization
1. Add a task
2. Mark task as done
3. Remove a task
4. View tasks
5. Exit
Enter your choice (1-5): 4

Current To-Do List:
1. going walking  - [Not done] - Priority: High

To-Do List Manager with Prioritization
1. Add a task
2. Mark task as done
3. Remove a task
4. View tasks
5. Exit
Enter your choice (1-5): 5
Exiting To-Do List Manager. Goodbye!

In [ ]:
## Write a Python program to get the largest and smallest number from a list without builtin functions.
def find_largest_and_smallest(numbers):
    if len(numbers) == 0:
        return None, None
    largest = numbers[0]
    smallest = numbers[0]

    for num in numbers[1:]:
        if num > largest:
            largest = num
        if num < smallest:
            smallest = num

    return largest, smallest

my_list = [12, 45, 2, 33, 89, 5, -10, 100]
largest, smallest = find_largest_and_smallest(my_list)

print("Original list:", my_list)
print("Largest number:", largest)
print("Smallest number:", smallest)

Original list: [12, 45, 2, 33, 89, 5, -10, 100]
Largest number: 100
Smallest number: -10

In [ ]:
 #Write a Python program to find duplicate values from a list and display those
 def find_duplicates(numbers):
    duplicates = []
    seen = []

    for num in numbers:
        if num in seen:
            if num not in duplicates:
                duplicates.append(num)
        else:
            seen.append(num)

    return duplicates
    my_list = [4, 2, 7, 4, 9, 2, 5, 7, 1, 2]
    duplicates = find_duplicates(my_list)
    print("Original list:", my_list)
    if duplicates:
      print("Duplicate values found:", duplicates)
    else:
      print("No duplicate values found.")

## Tuple

In [ ]:
t =(10,20,30,40)

In [ ]:
t

(10, 20, 30, 40)

In [ ]:
my_tuple = (1, 2, 3)

In [ ]:
my_list = [4, 5, 6]
tuple_from_list = tuple(my_list)
my_string = "abc"
tuple_from_string = tuple(my_string)

In [ ]:
single_element_tuple = (42,)

In [ ]:
empty_tuple=()

In [ ]:
tuple1 = (1, 2, 3)
# Using the tuple() constructor
list1 = [4, 5, 6]
tuple2 = tuple(list1)
string1 = "abc"
tuple3 = tuple(string1)
# Creating a singleton tuple
singleton_tuple = (42,)
# Creating an empty tuple
empty_tuple = ()
print(tuple1)
print(tuple2)
print(tuple3)
print(singleton_tuple)
print(empty_tuple)

(1, 2, 3)
(4, 5, 6)
('a', 'b', 'c')
(42,)
()

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result_tuple = tuple1 + tuple2 # (1, 2, 3, 4, 5, 6)
print (result_tuple)

(1, 2, 3, 4, 5, 6)

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
# Accessing individual elements
first_element = my_tuple[0] # Retrieves the first element (10)
second_element = my_tuple[1]

In [ ]:
print(my_tuple)

(10, 20, 30, 40, 50)

In [ ]:
last_element = my_tuple[-1]
second_last_element = my_tuple[-2]

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
# Slicing to get a subset of elements
subset = my_tuple[1:4]

In [ ]:
my_tuple = (10, 5, 30, 15)
minimum = min(my_tuple) # 5

In [ ]:
my_tuple

(10, 5, 30, 15)

In [ ]:
maximum = max(my_tuple)

In [ ]:
my_tuple

(10, 5, 30, 15)

In [ ]:
my_tuple = (10, 20, 30, 20, 40)
index = my_tuple.index(20)

In [ ]:
print(my_tuple)

(10, 20, 30, 20, 40)

In [ ]:
#Hi! Can you create a program using tuple that manages student records, including student names, exam scores, and final grades.
def calculate_grade(score):
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    elif score >= 60:
        return "D"
    else:
        return "F"

def add_student(records):
    name = input("Enter student name: ")
    try:
        score = float(input("Enter exam score (0-100): "))
        if 0 <= score <= 100:
            grade = calculate_grade(score)
            student = (name, score, grade)
            records.append(student)
            print(f"Record added: {student}")
        else:
            print("Score must be between 0 and 100.")
    except ValueError:
        print("Invalid score. Please enter a number.")

def view_students(records):
    if not records:
        print("No student records found.")
    else:
        print("\nStudent Records:")
        for i, student in enumerate(records, start=1):
            print(f"{i}. Name: {student[0]}, Score: {student[1]}, Grade: {student[2]}")

def main():
    student_records = []

    while True:
        print("\nStudent Record Manager")
        print("1. Add student")
        print("2. View students")
        print("3. Exit")

        choice = input("Enter your choice (1-3): ")

        if choice == '1':
            add_student(student_records)
        elif choice == '2':
            view_students(student_records)
        elif choice == '3':
            print("Exiting the program. Goodbye!")
            break
        else:
            print("Invalid choice. Please select 1, 2, or 3.")

if __name__ == "__main__":
    main()

Student Record Manager
1. Add student
2. View students
3. Exit
Enter your choice (1-3): 1
Enter student name: Yukta Gupta
Enter exam score (0-100): 99
Record added: ('Yukta Gupta', 99.0, 'A')

Student Record Manager
1. Add student
2. View students
3. Exit
Enter your choice (1-3): 2

Student Records:
1. Name: Yukta Gupta, Score: 99.0, Grade: A

Student Record Manager
1. Add student
2. View students
3. Exit
Enter your choice (1-3): 3
Exiting the program. Goodbye!

### SET

In [ ]:
a={10,20,30,20}

In [ ]:
a

{10, 20, 30}

In [ ]:
tuple1 = (10, 20, 30, 40, 50)
tuple1 = tuple1[::-1]
print(tuple1)

(50, 40, 30, 20, 10)

In [ ]:
my_list = [1, 2, 2, 3, 4]
my_set = set(my_list)

In [ ]:
my_list

[1, 2, 2, 3, 4]

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)

In [ ]:
my_set

{1, 2, 3, 4}

In [ ]:
my_set = {1, 2, 3}
my_set.remove(2) # Removes 2 from the set
my_set.discard(4)

In [ ]:
my_set

{1, 3}

In [ ]:
my_set = {1, 2, 3}
my_set.clear()

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_result = set1.intersection(set2)

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_result = set1.difference(set2)

In [ ]:
set2

{3, 4, 5}

In [ ]:
#1.Hi! Can you create a program Finding mutual friends between two sets of friends?
# Program to find mutual friends between two sets

# Program to find mutual friends between two sets

def find_mutual_friends(friends_a, friends_b):
    # Convert lists to sets
    set_a = set(friends_a)
    set_b = set(friends_b)

    # Find intersection
    mutual_friends = set_a.intersection(set_b)

    return list(mutual_friends)

# Example usage
friends_of_alice = ["Bob", "Charlie", "David", "Eva"]
friends_of_john = ["Charlie", "Eva", "Frank", "Grace"]

mutual = find_mutual_friends(friends_of_alice, friends_of_john)
print("Mutual friends:", mutual)

TypeError: 'list' object is not callable

In [ ]:
my_set={1, 2, 3, 3, 4}# Duplicate elements are automatically removed
print("Before Adding Any Elements")
print(my_set)
# Adding elements to a set
my_set.add(5) # Adding a new element
print(my_set) # Output: {1, 2, 3, 4, 5}
print("After Adding Elements")
print(my_set)
print("Before Removing Elements")
print(my_set)
# Removing elements from a set
my_set.remove(3) # Removing an element
print(my_set) # Output: {1, 2, 4, 5}
print("After Removing Elements")
print(my_set)
# Set operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_result = set1.union(set2) # Union display all values by merging both set
print("After Union")
print("Set 1=",set1)
print("Set 2=",set2)
print("Display All unique values From both set", union_result) # Output: {1, 2, 3, 4, 5}
intersection_result = set1.intersection(set2) # Intersection display common values
print("After Intersection")
print("Set 1=",set1)
print("Set 2=",set2)
print("Display only common values From both set",intersection_result) # Output: {3}
difference_result = set1.difference(set2) # Difference display elements from the first
set that are not present in the second set
print("After Difference")
my_set={1, 2, 3, 3, 4}# Duplicate elements are automatically removed
print("Before Adding Any Elements")
print(my_set)
# Adding elements to a set
my_set.add(5) # Adding a new element
print(my_set) # Output: {1, 2, 3, 4, 5}
print("After Adding Elements")
print(my_set)
print("Before Removing Elements")
print(my_set)
# Removing elements from a set
my_set.remove(3) # Removing an element
print(my_set) # Output: {1, 2, 4, 5}
print("After Removing Elements")
print(my_set)
# Set operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_result = set1.union(set2) # Union display all values by merging both set
print("After Union")
print("Set 1=",set1)
print("Set 2=",set2)
print("Display All unique values From both set", union_result) # Output: {1, 2, 3, 4, 5}
intersection_result = set1.intersection(set2) # Intersection display common values
print("After Intersection")
print("Set 1=",set1)
print("Set 2=",set2)
print("Display only common values From both set",intersection_result) # Output: {3}
difference_result = set1.difference(set2) # Difference display elements from the first
print("After Difference")
print("Set 1=",set1)
print("Set 2=",set2)
print("elements from the first set that are not present in the second set",difference_result)

SyntaxError: invalid syntax (<ipython-input-106-469abca55df1>, line 30)

In [ ]:
###1. Write a Python program to Get Only unique items from two sets.
Input:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Output:
{70, 40, 10, 50, 20, 60, 30}
2. Write a Python program to Return a set of elements present in Set A or B, but
not both.
Input:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Output:
{20, 70, 10, 60}

SyntaxError: invalid syntax (<ipython-input-1-ad101421bd5e>, line 2)

# Dictionary

In [ ]:
d ={"name":"yukta","age":"20","class":12}

In [ ]:
d

{'name': 'yukta', 'age': '20', 'class': 12}

In [ ]:
d.values()

dict_values(['yukta', '20', 12])

In [ ]:
d.keys()###got error because of "key" and its "Keys"

dict_keys(['name', 'age', 'class'])

In [ ]:
d.get("Name")##"  "

In [ ]:
d1 ={"name":"vivek","age":"20","class":12}

In [ ]:
d1.clear()## "clean" worng " clear"right

In [ ]:
d1

{}

In [ ]:
d.items()

dict_items([('name', 'yukta'), ('age', '20'), ('class', 12)])

In [ ]:
d1.items()

dict_items([])

In [ ]:
my_dict = {"name": "Alice", "age": 25}
items = my_dict.items() # Returns a view object with [("name", "Alice"), ("age", 25)]

In [ ]:
my_dict

{'name': 'Alice', 'age': 25}

In [ ]:
my_dict = {"name": "Alice", "age": 25}
value = my_dict.pop("name") # Removes the "name" key and returns "Alice"
value = my_dict.pop("address", "Unknown") # Returns "Unknown" because "address"key doesn't exist

In [ ]:
my_dict

{'age': 25}

In [ ]:
my_dict = {"name": "Alice", "age": 25}
my_dict.update({"address": "123 Main St"})

In [ ]:
my_dict

{'name': 'Alice', 'age': 25, 'address': '123 Main St'}

OOPS

In [ ]:
class Number :
  x=10
obj =Number()
print(obj.x)

10

In [ ]:
class Animal:
  def __int__(self,type):
    self.t =type
  def habitat(Self):
    print(self.t,"Lives in forest")
  def category(self):
    print("i am",self.t)
  def legs(self):
    print(self.t,"Have 4 legs")
  def tail(self):
    print(self.t,"have1 tail")

In [ ]:
obj = Animal("Elephant")
obj.legs()

TypeError: Animal() takes no arguments

In [ ]:
class Animal:
  def __init__(self, type): # Corrected method name to __init__
    self.t = type
  def habitat(self): # Changed Self to self
    print(self.t,"Lives in forest")
  def category(self): # Changed Self to self
    print("i am",self.t)
  def legs(self): # Changed Self to self
    print(self.t,"Have 4 legs")
  def tail(self): # Changed Self to self
    print(self.t,"have1 tail")

# Now you can create an instance with an argument
obj = Animal("Elephant")
obj.legs()

Elephant Have 4 legs

In [ ]:
##inhertenca
class Babyanimal (Animal):
  def height (self):
    print("we have smaller height as compare to our parents")

In [ ]:
o = Babyanimal ("Cat")
o.habitat()

Cat Lives in forest

Polymorphism

In [ ]:
class India:
  def Capital(self):
    print("New Delhi")
  def capital(self):
    print("28 states")
  def nationalanimal(self):
    print("Tiger")
  def Nationalbird(self):
    print("peacock")
class USA:
  def Capital(self):
    print("Washington")
  def capital(self):
    print("50 states")
  def nationalanimal(self):
    print("American bison")
  def Nationalbird(self):
    print("Eagle")

In [ ]:
o = USA()
o = India()

In [ ]:
o.Nationalbird()

peacock

In [ ]:
#Abstraction
from abc import ABC, abstractmethod

In [ ]:
class Bank(ABC):
  @abstractmethod
  def security(self):
    pass
class App (Bank):
  def withdraw (self):
    print("you can withdraw know")
  def security(self):
     print("Now is it secured")
obj =App ()
obj.withdraw()
obj.security()

you can withdraw know
Now is it secured

In [ ]:
##wap to create a vehicle class certain methods and inherit the properties of this class of car class
class Vehicle:
    def __init__(self, brand, model, year):
        self.brand = brand
        self.model = model
        self.year = year

    def start_engine(self):
        print(f"The engine of {self.brand} {self.model} is starting...")

    def stop_engine(self):
        print(f"The engine of {self.brand} {self.model} is stopping...")

    def display_info(self):
        print(f"Vehicle Info: {self.year} {self.brand} {self.model}")

class Car(Vehicle):
    def __init__(self, brand, model, year, doors):
        super().__init__(brand, model, year)  # Inherit from Vehicle
        self.doors = doors

    def open_trunk(self):
        print(f"The trunk of the {self.brand} {self.model} is now open.")

    def display_info(self):  # Method overriding
        super().display_info()
        print(f"Number of doors: {self.doors}")

my_car = Car("Toyota", "Camry", 2023, 4)

my_car.start_engine()
my_car.display_info()
my_car.open_trunk()
my_car.stop_engine()

The engine of Toyota Camry is starting...
Vehicle Info: 2023 Toyota Camry
Number of doors: 4
The trunk of the Toyota Camry is now open.
The engine of Toyota Camry is stopping...

In [ ]:
class Vehicle:
    def type(self):
        print("This is a vehicle.")
    def wheels(self):
        print("Vehicles can have 2, 4, or more wheels.")
    def fuel_type(self):
        print("Vehicles may use petrol, diesel, or electricity.")
    def max_speed(self):
        print("Speed varies depending on the type of vehicle.")

class Car(Vehicle):
    def car_brand(self):
        print("This is a car of brand Toyota.")
    def fuel_type(self):
        print("Cars usually use petrol, diesel, or electricity.")
    def max_speed(self):
        print("Cars usually have a max speed of 120-240 km/h.")

my_car = Car()
my_car.type()
my_car.wheels()
my_car.fuel_type()
my_car.max_speed()
my_car.car_brand()

This is a vehicle.
Vehicles can have 2, 4, or more wheels.
Cars usually use petrol, diesel, or electricity.
Cars usually have a max speed of 120-240 km/h.
This is a car of brand Toyota.

### Exception Handling

In [ ]:
try:
  a=20
  b=10
  print(a/b)
except ZeroDivisionError:
  print("we can not divide by zero")
else:

2.0